/* Import fonts */

/* Manrope font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* Clear default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--manrope);
}


/* Setting root variables */
:root {
    --light: 255, 255, 255;
    --dark: 0, 0, 0;

    --night: #0C090D;
    --seasalt: #F4F7F5;
    --anaranth-purple: #A5243D;
    --platinum: #e9e9e9;
    --sub-text: rgba(var(--dark), 0.2);

    --sign-padding: 18px;
    --font-size: 1em;

    --manrope: 'Manrope', sans-serif;
}

html,
body {
    background-color: var(--seasalt);
}


/*
    Z-INDEX RANKINGS: 
    ----------------------------
    loader: 100
    .pagination: 10;
    ----------------------------
*/


/* Common styles */
a, p {
    font-size: var(--font-size);
}

button {
    cursor: pointer;
    border: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.overflow-h {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.grow {
    flex-grow: 1;
}

img {
    object-fit: cover;
}

.img-here {
    overflow: hidden;
}

.img-here img {
    width: 100%;
    height: 100%;
}

.rel {
    position: relative;
}


a {
    text-decoration: none;
    color: black;
}

input {
    display: block;
    width: 100%;
    background-color: var(--seasalt);
    padding: 20px 25px;
    border-radius: 40px;
    border: 2px solid var(--sub-text);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--manrope);
    font-weight: 600;
}

loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--seasalt);
    z-index: 100;
}

.pagination {
    --wh: 10px;

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.pagination-dot {
    --wh: 7px;

    width: var(--wh);
    height: var(--wh);
    border-radius: 5px;
    background-color: rgba(var(--light), 0.2);
    transition: .5s ease-in-out;
}

.pagination-dot.active {
    --wh: 50px;

    height: 10px;
    background-color: var(--anaranth-purple);
}

.pagination-dot.next {
    --wh: 9px;

    background-color: rgba(var(--light), 0.8);
}

.pagination-dot.later {
    --wh:  8px;

    background-color: rgba(var(--light), 0.5);
}