<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Real Estate</title>

    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/sign.css">
</head>

<body>

    <main>
        <div class="form-cont container flex">
            <div class="form-box flex center rel">
                <div class="form flex">
                    <h1>Unlocking the <br> doors to your dream home</h1>
                    <input type="text" name="email" id="email" placeholder="Enter your email">
                    <input type="text" name="pass" id="pass" placeholder="Enter your password">
                    <div class="form-actions flex">
                        <a href="/">
                            sign up
                        </a>
                        <a href="/">login</a>
                    </div>
                </div>
                <div class="quote flex">
                    <i class="fa-solid fa-circle"></i>
                    <p>Every home tells a story: yours begins here.</p>
                    <i class="fa-solid fa-circle"></i>
                </div>
            </div>
            <div class="form-img img-here">
                <img src="/images/sign/signin.jpg" alt="">
            </div>
        </div>
    </main>

</body>

</html>